/* This is a CSS file! */
body {
	background-color: #95a5a6;
}
div.hr {
	background: #ECF0F1  no-repeat scroll center;
	margin-left: 0px;
	margin-right: 0px;
	width:240px;
	height:2px;
}

div.hr hr {
	display: none;
}
span.fancyTitle {
	font-size:22px;
	text-align: center;
	font-family:"Lato",sans-serif;
	color: #575757;
}
table.fancy {
  width: 100%;
}
table.fancy tr {
  border: 0px solid gray;
}
/*table.fancy th, table.fancy td {
  border: 1px silver gainsboro;
  padding: 0.2em;
}*/
table.fancy th {
	background-color:#ecf0f1;
	color:rgb(219, 109, 32);
	font-size:17px;
	font-family:"Lato",sans-serif;
}
table.fancy td.title {
	text-align: left;
	font-size:17px;
	background-color: #BDC3C7;
	margin-left:10px;	
	color: #424242;
	font-family: "Lato",sans-serif;
}
table.fancy td.entry {
	text-align: center;
	background-color:#ecf0f1;
	margin-left:12px;
	color:rgb(219, 109, 32);
	font-size:17px;
	font-family:"Lato",sans-serif;
}
table.fancy tr:hover td.entry {
	background: mintcream !important;
}
table.fancy caption {
	margin-left: inherit;
	margin-right: inherit;
}
	table.fancy tr:hover td.entry {
	background: mintcream !important;
}
body {
	background-color: #95a5a6;
}
.smallToolWindow {
	width: 320px;
	height: 30px;
	background-color:#bdc3c7;
	margin-left:480px;
	position:absolute;
	top:8px;
}
.screen {
	overflow:hidden;
	width: 1440px;
	height: 900px;
	margin-left:10px;
	/*margin-left:auto;
	margin-right:auto;*/
	background-color:#ecf0f1;
}
.infoWindow {
	position:absolute;
	width: 239px;
	height: 307px;
	background-color:#bdc3c7;
	margin-left:1197px;
	border: 2px solid #ECF0F1;
}

#research {
	margin-top:589px;
}

#production {
	margin-top:0px;
}